.container{
    background-color: blanchedalmond;
    display: flex;
}




.box1{
    background-color: red;
    padding: 20px;
    font-size: 30px;
    flex: 1;
}

.box2{
    background-color:gold;
    padding: 20px;
    font-size: 30px;
    flex: 1;
}

.box3{
    background-color: green;
    padding: 20px;
    font-size: 30px;
    flex: 1;
}    