body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
}


.container-menu{
    background-color: blanchedalmond;
    display: flex;
}


.box1-menu{
    background-color: red;
    padding: 20px;
    font-size: 30px;
    flex: 1;
    color: white;
}

.box2-menu{
    background-color: blue;
    padding: 20px;
    font-size: 30px;
    flex: 7;
}

.navbar ul {
    margin: 0;
    list-style-type: none;
    padding:0px;
    text-align: right;
    background-color:grey;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a{
    text-decoration: none;
    padding-left: 16px;
    padding-right:16px;
    padding-top:10px;
    padding-bottom:10px;
    color:black;
    background-color: grey;
    font-size: 25px;
    font-style: italic;
}

.navbar ul a:hover { 
    color: limegreen;
    background: white;
 
    
}
.navbar{
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 15px;
}


.container{
    display: flex;
    margin: 0px;
}

.picbox{
    flex: 1;
    margin: 20px;
}

body{
    background-color: darkgray;
}

.box1{
    background-image:url("images/leo1.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    width: 555px;
    height: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 25px; 
    vertical-align: bottom; 
}

.box1 p{
    padding-top: 240px;
    padding-bottom: 100px;
    color:white;
    
}

.pic-container{
    display: flex;
    margin: 0px;
}

.boxpic{
    margin: 20px;
    flex: 1;
}

.box9{
    background-image:url("images/lebron.jpg");
 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    width: 555px;
    height: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 25px; 
    vertical-align: bottom; 
}

.box9 p{
    padding-top: 250px;
    padding-bottom: 90px;
    color:black;
    
}

/* Generic styling */
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }